body {
    margin: 0;
}

header {
    background: lightseagreen;
    color: white;
}


.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.mx-10 {
    margin: 10px;
}
